In [6]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_leaderboard():
    results = requests.get('https://www.espn.com/golf/leaderboard', headers = {'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36 Edg/126.0.0.0'})

    soup = BeautifulSoup(results.text, 'html.parser')

    rank = []
    player_name = []
    player_country = []
    score_to_par = []
    round1_score = []
    round2_score = []
    round3_score = []
    round4_score = []
    total_score = []

    for player in soup.find_all('tr', class_='PlayerRow__Overview PlayerRow__Overview--expandable Table__TR Table__even'):
        rank.append(player.select_one('td:nth-of-type(2)').text)
        player_name.append(player.select_one('td:nth-of-type(3) a').text)
        player_country.append(player.select_one('td:nth-of-type(3) img')['alt'])
        score_to_par.append(player.select_one('td:nth-of-type(4)').text)
        round1_score.append(player.select_one('td:nth-of-type(5)').text)
        round2_score.append(player.select_one('td:nth-of-type(6)').text)
        round3_score.append(player.select_one('td:nth-of-type(7)').text)
        round4_score.append(player.select_one('td:nth-of-type(8)').text)
        total_score.append(player.select_one('td:nth-of-type(9)').text)
    
    data = {
        'Rank': rank,
        'Player Name': player_name,
        'Country': player_country,
        'Score to Par': score_to_par,
        'Round 1 Score': round1_score,
        'Round 2 Score': round2_score,
        'Round 3 Score': round3_score,
        'Round 4 Score': round4_score,
        'Total Score': total_score
    }

    df = pd.DataFrame(data)
    
    return df

scrape_leaderboard()

,Rank,Player Name,Country,Score to Par,Round 1 Score,Round 2 Score,Round 3 Score,Round 4 Score,Total Score
0,1,Xander Schauffele,United States,-9,69,72,69,65,275
1,T2,Justin Rose,England,-7,69,68,73,67,277
2,T2,Billy Horschel,United States,-7,72,68,69,68,277
3,4,Thriston Lawrence,South Africa,-6,71,74,65,68,278
4,5,Russell Henley,United States,-5,69,75,66,69,279
...,...,...,...,...,...,...,...,...,...
152,-,Todd Hamilton,United States,CUT,82,80,--,--,162
153,-,Aguri Iwasaki,Japan,CUT,74,91,--,--,165
154,-,John Daly,United States,WD,82,--,--,--,82
155,-,Ernie Els,South Africa,WD,82,--,--,--,82
156,-,Romain Langasque,France,WD,--,--,--,--,36